# Data files
dashboard*.json

# Datasets - only include sample (everything in it)
datasets/*
!datasets/sample
!datasets/cohere-10m
datasets/cohere-10m/data/
datasets/cohere-10m/queries/
datasets/cohere-10m/dataset.yaml
datasets/cohere-10m/k6/query_vectors.json
!datasets/cohere-1m
datasets/cohere-1m/data/
datasets/cohere-1m/queries/
datasets/cohere-1m/dataset.yaml
datasets/cohere-1m/k6/query_vectors.json
!datasets/sift-10m
datasets/sift-10m/data
datasets/sift-10m/queries
datasets/sift-10m/dataset.yaml
datasets/sift-10m/k6/query_vectors.json
datasets/sift-10m/k6/ground_truth_top10.json
datasets/sift-10m/k6/results/
!datasets/sift-100m
datasets/sift-100m/data
datasets/sift-100m/queries
datasets/sift-100m/dataset.yaml
datasets/sift-100m/k6/query_vectors.json
datasets/sift-100m/k6/ground_truth_top10.json
datasets/sift-100m/k6/results/

# Build outputs
*.exe
/k6
bin/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

#AI
.claude/
